Package: worldtimesystemtray
Version: 1.7
Section: misc
Priority: optional
Architecture: all
Depends: java-6-openjdk
Installed-Size: 113
Maintainer: Bernard Giannetti <bernmeister@users.sourceforge.net>
Homepage: http://wrldtimesystray.sourceforge.net
Description: Display the time across multiple time zones
 Features:
  * Add any number of time zones and show their respective times in the system
 tray hover text, bubble and/or popup window.
  * Rename the time zones to suit.
  * Fully configurable message layout.
  * Set a different day indicator.
  * Sort time zones by date/time or by time zone.
  * Combine time zones with same date/time.
  * Set date/time format.
  * Time Travel: given a time in one time zone, show the corresponding time in
 other time zones.
