Package: stardatesystemtray
Version: 1.9
Section: misc
Priority: optional
Architecture: all
Depends: java-6-openjdk
Installed-Size: 63
Maintainer: Bernard Giannetti <bernmeister@users.sourceforge.net>
Homepage: http://stardatesystray.sourceforge.net
Description: Show the current stardate and dates from other calendars
 Features:
  * Show the current stardate; optionally show the stardate issue and/or pad 
  the stardate.
  * Show dates for other calendars: Buddhist, Coptic, Ethiopic, Gregorian, 
  Gregorian-Julian, Islamic, ISO8601, Julian.
  * Switch between long, medium and short date formats.
