[Desktop Entry]
Type=Application
Name=World Time System Tray
Comment=Show date/time in multiple time zones
Icon=worldtimesystemtray32x32.xpm
OnlyShowIn=GNOME;KDE;ROX;XFCE;
Exec=worldtimesystemtray
Categories=TrayIcon
